/* line 1, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/compare_indicators.scss */
.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

/* line 6, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/compare_indicators.scss */
svg {
  font: 10px sans-serif;
}

/* line 10, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/compare_indicators.scss */
.dot {
  stroke: #000;
}

/* line 14, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/compare_indicators.scss */
.axis path, .axis line {
  fill: none;
  stroke: #000;
}

/* line 19, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/compare_indicators.scss */
.dots-selected {
  display: none;
}

/* line 24, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/compare_indicators.scss */
.legend {
  font-size: 12px;
}

/* line 28, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/compare_indicators.scss */
rect {
  cursor: pointer;
  stroke-width: 2;
}

/* line 33, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/compare_indicators.scss */
rect.disabled {
  fill: transparent !important;
}

/* line 37, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/compare_indicators.scss */
.unselected {
  fill: transparent !important;
  stroke: transparent !important;
}

/* line 42, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/compare_indicators.scss */
.buttons {
  cursor: pointer;
}

/* line 46, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/compare_indicators.scss */
.start-circle {
  fill: #ddd;
  opacity: 0.75;
}

/* line 51, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/compare_indicators.scss */
.start-text {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

/* line 57, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/compare_indicators.scss */
#comparison-vis-filters {
  padding-left: 10px;
  padding-right: 10px;
  color: #2569a8;
  border: 1px solid #2569a8;
  border-radius: 5px;
  height: 100%;
}

/* line 66, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/compare_indicators.scss */
.input-field.col.s12.indicator-select {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 71, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/compare_indicators.scss */
#update-btn {
  width: inherit;
}

/* line 75, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/compare_indicators.scss */
#data-select-label {
  left: 0rem !important;
}

/* line 79, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/compare_indicators.scss */
label.small-label {
  left: 0rem !important;
  font-size: 0.8rem;
  position: relative;
}

/* line 85, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/compare_indicators.scss */
#animation-box {
  margin-top: -5px;
}
