/* line 1, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/education_and_employment.scss */
.country {
  fill: #D8D8D8;
  stroke: white;
}

/* line 6, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/education_and_employment.scss */
.map-vis-container {
  margin-top: 8px !important;
  overflow: hidden;
}

/* line 11, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/education_and_employment.scss */
#play-map-btn {
  cursor: pointer;
}

/* line 15, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/education_and_employment.scss */
#stop-map-btn {
  cursor: pointer;
}

/* line 19, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/education_and_employment.scss */
#map-year-label {
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  color: #00396d;
  text-align: center;
}

/* line 27, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/education_and_employment.scss */
.map-legend {
  font: 10px sans-serif;
  font-weight: bold;
}

/* line 32, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/education_and_employment.scss */
#map-filter-container {
  padding-left: 5px;
  padding-right: 16px;
  color: #2569a8;
  border: 1px solid #2569a8;
  border-radius: 5px;
  height: 100%;
}

/* line 41, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/education_and_employment.scss */
#indicator-select {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 46, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/education_and_employment.scss */
#filter-label {
  left: 0rem;
}

/* line 50, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/education_and_employment.scss */
#map-gender-filter-selection {
  padding-bottom: 10px;
}

/* line 54, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/education_and_employment.scss */
#disabled-label {
  color: #d4d4d4 !important;
}

/* line 58, C:/Users/Divya/Documents/Uni Work/2017/ENGR489/DevelopmentGoalsApp/development_goals_app/app/assets/stylesheets/education_and_employment.scss */
.gender-selector {
  margin-top: 5px;
  margin-bottom: 5px;
}
