<div class="home-background">
  <div class="overlay"></div>
  <div class="index-text">
    <div class="text-content">
      <h3>Data Sources</h3>
      <div class="row sources flexbox">
        <div class="col s2 data-box">
          <h6 class="about-titles">Secondary Education</h6>
          <p class="about-info"></p>
          <p class="about-info">Source: <a href=""></a>
        </div>
        <div class="col s2 data-box">
          <h6 class="about-titles">Labour Force Participation</h6>
          <p class="about-info"></p>
          <p class="about-info">Source: <a href=""></a>
        </div>
        <div class="col s2 data-box">
          <h6 class="about-titles">Gross National Income</h6>
          <p class="about-info"></p>
          <p class="about-info">Source: <a href=""></a>
        </div>
        <div class="col s2 data-box">
          <h6 class="about-titles">Gender Inequality Index</h6>
          <p class="about-info"></p>
          <p class="about-info">Source: <a href=""></a>
        </div>
        <div class="col s2 data-box">
          <h6 class="about-titles">Share of Seats in Parliament</h6>
          <p class="about-info">This data set gives the percentage of seats in national parliament held by women.</p>
          <p class="about-info">Source: <a href=""></a>
        </div>
      </div>
    </div>
    <div class="text-content">
      <h3>Want to know more?</h3>
      <p class="about-titles">On the 1st January 2016, the United Nations (UN)</p>
      <p class="about-titles">For more information about the sustainable development goals, visit <a href=""></a>
    </div>
  </div>
</div>
