<div class="home-background">
  <div class="overlay"></div>
  <div class="index-text">
    <div class="text-content">
      <h3>Data Sources</h3>
      <div class="row sources flexbox">
        <div class="col s2 data-box">
          <h6 class="about-titles">Secondary Education</h6>
          <p class="about-info"></p>
          <p class="about-info">Source: <a href=""></a>
        </div>
        <div class="col s2 data-box">
          <h6 class="about-titles">Labour Force Participation</h6>
          <p class="about-info"></p>
          <p class="about-info">Source: <a href=""></a>
        </div>
        <div class="col s2 data-box">
          <h6 class="about-titles">Gross National Income</h6>
          <p class="about-info"></p>
          <p class="about-info">Source: <a href=""></a>
        </div>
        <div class="col s2 data-box">
          <h6 class="about-titles">Gender Inequality Index</h6>
          <p class="about-info"></p>
          <p class="about-info">Source: <a href=""></a>
        </div>
        <div class="col s2 data-box">
          <h6 class="about-titles">Share of Seats in Parliament</h6>
          <p class="about-info">This data set gives the percentage of seats in national parliament held by women.</p>
          <p class="about-info">Source: <a href=""></a>
        </div>
      </div>
    </div>
    <div class="text-content" id="know-more">
      <h3>Want to know more?</h3>
      <p class="about-titles">
As of 1st January 2016, the United Nations (UN) officially put into effect 17 Sustainable Development Goals (SDGs) as part of the 2030 Agenda for Sustainable Development.
The SDGs are a set of goals aimed at ending poverty, fighting inequalities, and tackling climate change. While not legally binding, the SDGs apply to all countries,
and governments are expected to take action towards achieving them.
</br></br>
One of the key goals outlined by the SDGs is gender equality. Gender equality is achieved when men and women have access to equal rights and opportunities.
Indicators that cover gender equality in many areas, including education, social welfare, and economic benefits, have been defined for the gender equality goal.
This tool presents some of the infomation related to these indicators through data visulisations.
      </p>
      <p class="about-titles">For more information about the sustainable development goals, visit <a href="http://www.un.org/sustainabledevelopment/sustainable-development-goals/">United Nations SDGs</a>
    </div>
  </div>
</div>
