<div class="home-background">
  <div class="index-text">
    <h1 id="index-title">Gender Equality Visualisation Tool</h1>
  </div>
  <div class="index-text">
    <p>The United Nations put into effect 17 Sustainable Development Goals (SDGs) </p>
  </div>
  <div class="index-text">
    TAKE ME TO:
  </div>
  <div id="home-button-container">
    <p class="index-text">
      <!-- Add icons for visualisations here + source -->
    </p>
  </div>
</div>
