<div class="home-background">
  <div class="overlay"></div>
  <div class="index-text">
    <p id="index-title">Understanding Gender Equality</p>
    <p class="text-info">The United Nations put into effect 17 Sustainable Development Goals (SDGs) aimed at addressing issues
regarding poverty, inequalites, and climate change. Achieving gender equality, which is the 

</br></br>
    Explore Data:</p>
    <div class="main-button-container">
      <div class="button-container">
        <a class="btn-floating btn-large waves-effect waves-light index-icons" id="map-vis-btn" href="<%= explore_education_and_employment_path %>">
          <i class="material-icons md-36 buttons">desktop_windows</i>
        </a>
        <p class="icon-label" id="map-vis-btnlabel">Education and Employment</p>
      </div>
      <div class="button-container">
        <a class="btn-floating btn-large waves-effect waves-light index-icons" id="income-vis-btn" href="<%= explore_income_path %>">
          <i class="material-icons md-36 buttons">attach_money</i>
        </a>
        <p class="icon-label" id="income-vis-btnlabel">Gross National Income</p>
      </div>
      <div class="button-container">
        <a class="btn-floating btn-large waves-effect waves-light index-icons" id="gii-vis-btn" href="<%= explore_gender_inequality_index_path %>">
          <i class="material-icons md-36 buttons">language</i>
        </a>
        <p class="icon-label" id="gii-vis-btnlabel">Gender Inequality Index</p>
      </div>
    </div>
</div>
