<div class="row">
  <ul class="tabs">
    <li class="tab col s4"><a class="active" href="#basic">Basic Visualisation</a></li>
    <li class="tab col s4"><a href="#filters">Simple Filters</a></li>
    <li class="tab col s4"><a href="#motion">Motion Graph</a></li>
  </ul>

  <!-- Basic bar chart -->
  <div id="basic" class="col s12" data-url="<%= home_basic_path %>">
    <div class="row">
      <div class="col s6">
        <h3> Bar Graph </h3>
        <svg id="basicgraph"></svg>
      </div>
      <div class="col s6">
        <h3>Scatterplot</h3>
        <svg id="circles"></svg>
      </div>
    </div>
  </div>

  <!-- Simple line graph that allows filter by key -->
  <div id="filters" class="col s12" data-url="<%= home_filters_path %>">
    <div id="linegraph"></div>
    <div id="piechart"></div>
    <div style="clear: both;">
      <table id="data-table">
        <thead>
          <tr class="header">
            <th>Day</th>
            <th>Books</th>
            <th>Movies</th>
            <th>Chocolates</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <!-- Interactive features -->
  <div id="motion" class="col s12" data-url="<%= home_motion_path %>">
    <p>Created from source code avaliable at: <a href="https://bost.ocks.org/mike/nations/">The Wealth and Health of Nations</a></p>
    <svg id="motiongraph"></svg>
  </div>
</div>
