<div class="home-background">
  <div class="overlay"></div>
  <div class="index-text">
    <p id="index-title">Gender Equality Visualisation Tool</p>
    <p class="text-info">This will be some great and interesting paragraph about what the site will show.
      This will be some great and interesting paragraph about what the site will show.
      This will be some great and interesting paragraph about what the site will show,
      This will be some great and interesting paragraph about what the site will show,
      This will be some great and interesting paragraph about what the site will show,
      This will be some great and interesting paragraph about what the site will show</p>
    </p>
    <p class="text-info">Explore Data:</p>
  </div>
  <div class="explore-buttons">
    <p class="index-text">

    </p>
  </div>
</div>
