<div class="home-background">
  <div class="overlay"></div>
  <div class="index-text">
    <p id="index-title">Gender Equality Visualisation Tool</p>
    <p class="text-info">This will be some great and interesting paragraph about what the site will show.
      This will be some great and interesting paragraph about what the site will show.
      This will be some great and interesting paragraph about what the site will show,
      This will be some great and interesting paragraph about what the site will show,
      This will be some great and interesting paragraph about what the site will show,
      This will be some great and interesting paragraph about what the site will show</p>
    <p class="text-info"><strong>TAKE ME TO:</strong></p>
    <p class="text-info">
      <a class="no-highlight" href="<%= explore_education_and_employment_path %>"><i class="material-icons md-36 buttons index-icons" id="map_vis_btn">desktop_windows</i></a>
      <a class="no-highlight" href="<%= explore_income_path %>"><i class="material-icons md-36 buttons index-icons" id="income_vis_btn">attach_money</i></a>
      <a class="no-highlight" href="<%= explore_compare_indicators_path %>"><i class="material-icons md-36 buttons index-icons" id="compare_vis_btn">language</i></a>
      <a class="no-highlight" href="<%= home_about_path %>"><i class="material-icons md-36 buttons index-icons" id="about_btn">info_outline</i></a>
    </p>
</div>
