<div class="home-background">
  <div class="overlay"></div>
  <div class="index-text">
    <p id="index-title">Gender Equality Visualisation Tool</p>
    <p class="text-info">This will be some great and interesting paragraph about what the site will show.
      This will be some great and interesting paragraph about what the site will show.
      This will be some great and interesting paragraph about what the site will show,
      This will be some great and interesting paragraph about what the site will show,
      This will be some great and interesting paragraph about what the site will show,
      This will be some great and interesting paragraph about what the site will show</br></br>
    TAKE ME TO:</p>
    <div class="main-button-container">
      <div class="button-container">
        <a class="no-highlight" href="<%= explore_education_and_employment_path %>">
          <i class="material-icons md-36 buttons index-icons" id="map-vis-btn">desktop_windows</i>
        </a>
        <p class="icon-label" id="map-vis-btnlabel">Education and Employment</p>
      </div>
      <div class="button-container">
        <a class="no-highlight" href="<%= explore_income_path %>">
          <i class="material-icons md-36 buttons index-icons" id="income-vis-btn">attach_money</i>
        </a>
        <p class="icon-label" id="income-vis-btnlabel">Gross National Income</p>
      </div>
      <div class="button-container">
        <a class="no-highlight" href="<%= explore_compare_indicators_path %>">
          <i class="material-icons md-36 buttons index-icons" id="compare-vis-btn">language</i>
        </a>
        <p class="icon-label" id="compare-vis-btnlabel">Compare Indicators</p>
      </div>
      <div class="button-container">
        <a class="no-highlight" href="<%= home_about_path %>">
          <i class="material-icons md-36 buttons index-icons" id="about-btn">info_outline</i>
        </a>
        <p class="icon-label" id="about-btnlabel">About</p>
      </div>
    </div>
</div>
