<div class="home-background">
  <div class="overlay"></div>
  <div class="index-text">
    <p id="index-title">Understanding Gender Equality</p>
    <p class="text-info">
Gender equality is achieved when men and women have access to equal rights and opportunities.
Achieving gender equality has been identified as a key <a href="http://www.un.org/sustainabledevelopment/sustainable-development-goals/">Sustainable Development Goal (SDG)</a>
by the United Nations (UN). It is the focus of the visualisations displayed in this tool. You can explore data related to education and employment,
compare gross national income across males and females, and identify how these indicators affect the gender inequality index.
</br></br>
    Explore:</p>
    <div class="main-button-container">
      <div class="button-container">
        <a class="btn-floating btn-large waves-effect waves-light index-icons" id="map-vis-btn" href="<%= explore_education_and_employment_path %>">
          <i class="material-icons md-36 buttons">desktop_windows</i>
        </a>
        <p class="icon-label" id="map-vis-btnlabel">Education and Employment</p>
      </div>
      <div class="button-container">
        <a class="btn-floating btn-large waves-effect waves-light index-icons" id="income-vis-btn" href="<%= explore_income_path %>">
          <i class="material-icons md-36 buttons">attach_money</i>
        </a>
        <p class="icon-label" id="income-vis-btnlabel">Gross National Income</p>
      </div>
      <div class="button-container">
        <a class="btn-floating btn-large waves-effect waves-light index-icons" id="gii-vis-btn" href="<%= explore_gender_inequality_index_path %>">
          <i class="material-icons md-36 buttons">language</i>
        </a>
        <p class="icon-label" id="gii-vis-btnlabel">Gender Inequality Index</p>
      </div>
    </div>
</div>
