#wrapper {
  width: 960px;
  margin: 30px auto 0;
}

#map {
  width: 960px;
  height: 580px;
  position: relative;
}

.fill {
  fill: #fff;
}

.land {
  fill: #222;
}

.country {
  fill: steelblue;
  stroke: white;
}
