nav {
    height: 50px;
    line-height: 50px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 50px;
    line-height: 50px;
}

nav .button-collapse i {
    height: 50px;
    line-height: 50px;
}

nav .brand-logo {
    font-size: 1.6rem;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 50px;
        line-height: 50px;
    }
}

.row.vis {
  margin-bottom: 0px;
}

// Override form colours
label {
  color: #525252 !important;
}

// Override "new" label in badges
span.badge.new:after  {
  content: "" !important;
}

.select-wrapper input.select-dropdown {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}
