#top-nav-bar-logo {
    img {
      height: 50px;
    }
}

.button-collapse {
  color: #478bca;
}

#nav-top-menu-item {
  color: #2569a8;
}

#side-nav-image {
  height: 60px;
  padding-top: 10px;
  :hover {
    background-color: #fff;
  }
  img {
    width: 250px;
  }
}
