/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 *= require material_icons
 *= require select2
 *= require_tree ./application
 *= require_self
 */

// Override material design colours
@import "materialize/components/color";
$primary-color: #3F51B5 !default;
$primary-color-light: #C5CAE9 !default;
$primary-color-dark: #303F9F !default;
$secondary-color: #3F51B5 !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;

@import 'materialize';
@import 'material_override';
