.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

svg {
  font: 10px sans-serif;
}

.dot {
  stroke: #000;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
}

.label {
  fill: #777;
}

#year-label {
  font-size: 75px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  fill: #ddd;
}

.helper-text {
  margin: 0px;
  text-align: center;
}

.dots-selected {
  display: none;
}

.active #year-label {
  fill: #aaa;
}

#overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

// Legend css
.legend {
    font-size: 12px;
}

rect {
  cursor: pointer;
  stroke-width: 2;
}

rect.disabled {
  fill: transparent !important;
}

.unselected {
  fill: transparent !important;
  stroke: transparent !important;
}

.buttons {
  cursor: pointer;
}

.start-circle {
  fill: #ddd;
  opacity: 0.75;
}

.start-text {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

#comparison-vis-filters {
  padding-left: 25px;
  padding-right: 5px;
}
