.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

svg {
  font: 10px sans-serif;
}

.dot {
  stroke: #000;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
}

.label {
  fill: #777;
}

#year-label {
  font-size: 75px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  fill: #ddd;
}

.helper-text {
  margin: 0px;
  text-align: center;
}

.dots-selected {
  display: none;
}

.active #year-label {
  fill: #aaa;
}

#overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

// Legend css
.legend {
    font-size: 12px;
}

rect {
  cursor: pointer;
  stroke-width: 2;
}

rect.disabled {
  fill: transparent !important;
}

.unselected {
  fill: transparent !important;
  stroke: transparent !important;
}

.buttons {
  cursor: pointer;
}

.start-circle {
  fill: #ddd;
  opacity: 0.75;
}

.start-text {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

#comparison-vis-filters {
  padding-left: 25px;
  color: #2569a8;
  border: 1px solid #2569a8;
  border-radius: 5px;
}

.input-field.col.s12.indicator-select {
  padding-left: 0px;
  padding-right: 0px;
}

#update-btn {
  width: inherit;
}

#data-select-label {
  left: 0rem !important;
}

#animation-label {
  left: 0rem !important;
  font-size: 0.8rem;
  position: relative;
}

#animation-box {
  margin-top: 20px;
}

.line-separator{
  height:1px;
  background:#2569a8;
  border-bottom:2px solid #2569a8;
}
