.country {
  fill: #D8D8D8;   // default colour for country with no data
  stroke: white;
}

.map-vis-container {
  margin-top: 8px !important;
  overflow: hidden;
}

#play-map-btn {
  cursor: pointer;
}

#stop-map-btn {
  cursor: pointer;
}

#map-year-label {
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;;
  color: #00396d;
  text-align: center;
}

.map-legend {
  font: 10px sans-serif;
  font-weight: bold;
}

.map-filter-container {
  color: #2569a8;
  border: 1px solid #2569a8;
  border-radius: 5px;
}

#indicator-select {
  padding-left: 0px;
  padding-right: 0px;
}

#filter-label {
  left: 0rem;
}

#map-gender-filter-selection {
  padding-bottom: 10px;
}
