.gii-vis-container {
  margin-top: 8px !important;
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: #ccc;
  stroke-opacity: .4;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  cursor: move;
}

.axis .tick text {
  font-size: 11.5px;
}

.gii-axis-title {
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.region-legend {
  cursor: pointer;
  stroke-width: 2;
}

#legend-area {
  padding: 0px;
  font-size: 12px;
}

#region-filters {
  margin-top: 10px;
}

#gii-line-sep {
  margin-bottom: 10px;
}

rect.disabled {
  fill: transparent !important;
}

.coord-selected {
  stroke-width: 3px !important;
  stroke: black !important;
}

.gii-filter-container {
  color: #2569a8;
  border: 1px solid #2569a8;
  border-radius: 5px;
  height: 100%;
}

#year-select-label {
  left: 0rem;
}

#gii-year-selector {
  padding-left: 0px;
  padding-right: 0px;
}

.gii-spans {
  cursor: pointer;
  display: inline-block;
}

#action-buttons {
  padding:0px;
  position: relative;
  top: -15px;
}

.vis-material-icons #gii-axis-helper {
  font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}
