<%= stylesheet_link_tag 'education_and_employment', media: 'all', 'data-turbolinks-track' => true %>

<!-- Contents of page -->
<div class="content-container">
  <div class="row vis">
    <div class="col s10 map-vis-container">
      <!-- Loading spinner to show when data for visualisation is being loaded -->
      <div class="loading-left"></div>
      <!-- The Visualisation -->
      <%= tag('div', id: 'edu-employ-map-vis', data: {url: explore_education_and_employment_data_path } ) %>
      <%= tag('/div') %>
    </div>

    <!-- Visualisation filters -->
    <div class="col s2 map-filter-container">
      <h5 id="data-name">Education</h5>
      <p id="data-info">Percentage of female population (aged 25+) with at least some secondary education.</p>
      <div class="input-field col s12" id="indicator-select">
        <%= select_tag 'select-map-dataset', options_for_select(@datasets, @datasets[0][0]) %>
        <label id="filter-label">Select Indicator</label>
      </div>
      <form id="map-gender-filter-selection">
        <label>Select Data</label>
        <p class="gender-selector">
          <input class="with-gap" name="gender-select" type="radio" id="map-female" value="female" checked/>
          <label class="gender-label" for="map-female">Female</label>
        </p>
        <p class="gender-selector">
          <input class="with-gap" name="gender-select" type="radio" id="map-male" value="male"/>
          <label class="gender-label" for="map-male">Male</label>
        </p>
        <p class="gender-selector">
          <input class="with-gap" name="gender-select" type="radio" id="map-gender-parity" value="diff"/>
          <label class="gender-label" for="map-gender-parity" id="gender-parity">Gender Parity</label>
        </p>
      </form>
      <form id="year-slider">
        <label>Select Year</label>
        <div class="year-labels">
          <p class="year-slider-label" id="min-year">1990</p>
          <p class="year-slider-label" id="max-year">2015</p>
        </div>
        <div style="clear: both;"></div>
        <p class="range-field">
          <input type="range" id="years-selector" min="1990" max="2015" value="2015" />
        </p>
        <label>View Animation</label>
        <div class="row">
          <div class="col s6"><p><i class="material-icons md-36 buttons" id="play-map-btn">play_circle_outline</i>
            <i class="material-icons md-36 buttons" id="stop-map-btn">pause_circle_outline</i></p>
          </div>
          <div class="col s6" id="map-year-label">2015</div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
createEducationEmploymentVis("#edu-employ-map-vis");
</script>
