<div class="content-container">
  <div class="row">
    <div class="col s10 map-vis-container">
      <%= tag('div', id: 'edu-employ-map-vis', data: {attr: @data} ) %>
      <%= tag('/div') %>
    </div>
    <div class="col s2 filter-container">
      <h5 id="data-name">Secondary Education</h5>
      <p id="data-info">Percentage of female population (ages 25+) with at least some secondary education.</p>
      <div class="input-field col s12">
        <select id="select-map-dataset">
          <option value="education">Secondary Education</option>
          <option value="employment">Labour Force Rates</option>
          <option value="comparison">Secondary Education vs. Labour Force Rates</option>
        </select>
        <label>Select Indicator</label>
      </div>
      <form id="map-gender-filter-selection">
        <label>Select Data</label>
        <p>
          <input class="with-gap" name="gender-select" type="radio" id="map-female" value="female" checked/>
          <label for="map-female">Female</label>
        </p>
        <p>
          <input class="with-gap" name="gender-select" type="radio" id="map-male" value="male"/>
          <label for="map-male">Male</label>
        </p>
        <p>
          <input class="with-gap" name="gender-select" type="radio" id="map-gender-parity" value="diff"/>
          <label for="map-gender-parity">Gender Parity</label>
        </p>
      </form>
      <form id="year-slider">
        <label>Select Year</label>
        <p class="range-field">
          <input type="range" id="years-selector" min="1990" max="2015" value="2015" />
        </p>
        <label>View Animation</label>
        <div class="row">
          <div class="col s6"><p><i class="material-icons md-36 buttons" id="play-map-btn">play_circle_outline</i>
            <i class="material-icons md-36 buttons" id="stop-map-btn">pause_circle_outline</i></p>
          </div>
          <div class="col s6" id="map-year-label">2015</div>
        </div>
      </form>
    </div>
  </div>

  <script>
  initEducationEmploymentVis("#edu-employ-map-vis");
  </script>
