<div class="content-container">
  <div class="row">
    <div class="col s12 income-vis-container">
      <div id="dot-plot-title">Estimated Gross National Income Per Capita</div>
      <%= tag('div', id: 'income-vis', data: {url: @data_url} ) %>
      <%= tag('/div') %>
    </div>
  </div>

  <script>
  initIncomeVis("#income-vis");
  </script>
