<div class="visualisation" id="wrapper">
  <div id="schoolMapVis"></div>
  <button id="play">play</button>
  <span id="clock">year</span>

  <script>
    window.onload = initSchoolVisualisation("#schoolMapVis");
  </script>
</div>
