// Set up height setting
html, body {
  height: 100%;
}

.content-container {
  height:92%;
}

.row.vis {
  height: 100%;
}

// Flexbox for column displays
.row.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px
}

#data-name {
  font-family: 'Oswald', sans-serif;
}

.line-separator{
  height:1px;
  background:#ababab;
  border-bottom:2px solid #ababab;
}

// Select2 country selection button designs
#action-buttons {
  padding:0px;
  position: relative;
  top: -15px;
}

#select-badge {
  margin-right: 0px;
  float: right;
  background-color: #339030;
}

#deselect-badge {
  float: right;
  background-color: #a90000;
}

#clear-all-badge {
  float: left;
  margin-left: 0px;
}

// Select2 - change selector styling to match material design theme more
.select2-container {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  height: 2.5rem;
  line-height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  color: #2569a8;
}

.select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 38px;
  padding-left: 0px;
  color: #2569a8;
  border-bottom: 1px solid #9e9e9e;
}

.select2-container--default .select2-selection--single {
  background-color: transparent;
  border: none;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: inherit;
}

.select2-results__option {
  padding: 2px;
}

.select2-search--dropdown {
  height: 58px;
}

span.select2-container.select2-container--default.select2-container--open {
  width: 200px;
}

// Year slider
.range-field {
  margin: 0px;
}

.year-labels {
  position: relative;
  top: 10px;
}

.year-slider-label {
  margin: 0px;
  display: inline;
  font-size: 10px;
}

#min-year {
  float: left;
}

#max-year {
  float: right;
}
