#nav-logo {
  color: #2569a8;
  font-family: 'Oswald', sans-serif;
  margin-left: 10px;
}

#menu-btn {
  color: #478bca;
}

.nav-top-menu-item {
  color: #2569a8 !important;
  font-family: 'Oswald', sans-serif;
  font-size: 16px !important;
}

.nav-title {
  text-align: center;
  width: 100%;
  color: #2569a8;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

.dropdown-content li > a, .dropdown-content li > span {
  font-family: 'Oswald', sans-serif;
}
